"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "759cae69-bb02-4477-92a8-d4de271d84d6"
  "markdown-themeable-pdf":
    enableCustomFooter: false
    enableCustomHeader: false
  welcome:
    showOnStartup: false
